<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.idea.androiddemopartone">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".act.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".act.JniTestTwoActivity"/>
        <activity android:name=".act.NonInteractiveActivity"/>
        <activity android:name=".act.InteractiveActivity"/>
        <activity android:name=".act.ProgressBarActivity"/>
        <activity android:name=".act.SurfaceTextureActivity"/>
        <activity android:name=".act.LoopViewPagerActivity"/>
        <activity android:name=".act.CircleMenuActivity"/>
        <activity android:name=".act.CycleScrollViewActivity"/>
        <activity android:name=".act.PictureAnalysisActivity"/>
        <activity android:name=".act.OpenGlES.OpenGlESSampleListActivity"/>
        <activity android:name=".act.OpenGlES.Sample3_1Activity"/>
    </application>

</manifest>
